{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/produto/produto_list.css' %}">
{% endblock %}

{% block navbar0 %}
    <a class="lista" href="{% url 'notaSaida:saida_list' %}">Notas de Saida</a>
{% endblock %}

{% block navbar %}
    <a class="lista" href="{% url 'entrada:entrada_list' %}">Notas de Entrada</a>
{% endblock %}

{% block product %}
    <div class="container modal-body">

        <h1 class="title">Lista de Produtos</h1>

        <table id="myTable" class="table">
            <thead class="thead-dark">
            <tr>
                <th>Produto</th>
                <th>Slug</th>
                <th>Cor</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Ações</th>
                <th>Ações</th>
            </tr>
            </thead>

            <tbody>

            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.produto }}</td>
                    <td>{{ produto.slug }}</td>
                    <td>{{ produto.cor }}</td>
                    <td>{{ produto.descricao }}</td>
                    <td>{{ produto.preco }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td id="edit-product">
                        <a class="btn btn-primary" href="{% url 'produto:alterar' produto.id %}">Alterar</a>
                    </td>
                    <td>
                        <a onclick="alerta(event)" class="btn btn-danger" href="{% url 'produto:deletar' produto.id %}">Deletar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div id="new-product">
            <a class="btn btn-success" href="{% url 'produto:novo' %}">Adicionar Produto</a>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/sweetalert.js' %}" defer></script>
{% endblock %}