html {
    line-height: 1.15;
}

a {
    color: #19865C;
}

header {
    border-bottom: 1px solid #efefef;
}

body {
    max-width: 960px;
    color: #525252;
    font-family: Roboto, sans-serif;
    margin: 0 auto;
}

main {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: self-end;
    justify-content: space-between;
    gap: 7px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.logo {
    font-weight: 700;
    font-size: 1.375rem;
    text-decoration: none;
}

.figure {
    margin-top: 19vh;
    max-width: 265px;
    position: relative;
    z-index: -9;
    overflow: visible;
}

.exhaust__line {
    animation: thrust 70ms 100 ease-in-out alternate;
}

.smoke {
    animation: smoke .1s 70 ease-in-out alternate;
}

@keyframes smoke {
    0% {
        transform: translate3d(-5px, 0, 0);
    }

    100% {
        transform: translate3d(5px, 0, 0);
    }
}

.flame {
    animation: burnInner2 .1s 70 ease-in-out alternate;
}

@keyframes burnInner2 {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(0, 3px, 0);
    }
}

@keyframes thrust {
    0% {
        opacity: 1;
    }

    100% {
        opacity: .5;
    }
}

@media (prefers-reduced-motion: reduce) {

    .exhaust__line,
    .smoke,
    .flame {
        animation: none;
    }
}

h1 {
    font-size: 1.375rem;
    max-width: 32rem;
    margin: 5px auto 0;
}

main p {
    line-height: 1.25;
    max-width: 26rem;
    margin: 15px auto 0;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding: 25px 0;
    position: fixed;
    box-sizing: border-box;
    left: 50%;
    bottom: 0;
    width: 960px;
    transform: translateX(-50%);
    transform-style: preserve-3d;
    border-top: 1px solid #efefef;
}

.option {
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    text-decoration: none;
    align-items: center;
}

.option svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: gray;
    border: 1px solid #d6d6d6;
    padding: 5px;
    border-radius: 100%;
}

.option p {
    font-weight: 300;
    line-height: 1.25;
    color: #e1e1e6;
    display: table;

    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.option .option__heading {
    color: #e1e1e6;
    font-size: 1.25rem;
    font-weight: 500;

    font-family: 'Poppins', sans-serif;
}

@media (max-width: 996px) {

    body,
    footer {
        max-width: 780px;
    }
}

@media (max-width: 800px) {
    footer {
        height: 100%;
        grid-template-columns: 1fr;
        gap: 60px;
        position: relative;
        padding: 25px;
    }

    .figure {
        margin-top: 10px;
    }

    main {
        padding: 0 25px;
    }

    main h1 {
        font-size: 1.25rem;
    }

    header {
        grid-template-columns: 1fr;
        padding-left: 20px;
        padding-right: 20px;
    }

    footer {
        width: 100%;
        margin-top: 50px;
    }
}

@media (min-width: 801px) and (max-height: 730px) {
    .figure {
        margin-top: 80px;
    }
}

@media (min-width: 801px) and (max-height: 600px) {
    footer {
        position: relative;
        margin: 135px auto 0;
    }

    .figure {
        margin-top: 50px;
    }
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


/* Minha estilização */
a.lista {
    cursor: pointer;
    text-decoration: none;

    font-weight: 700;
    font-size: 1.375rem;
    text-decoration: none;

    font-family: 'Poppins', sans-serif;
}


a.logo {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

a.lista:hover, a.logo:hover {
    font-size: 1.5rem;
    opacity: 0.6

}

h1.title {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif !important;
    font-family: 700
}

.four {
    color: green
}

.two {
    color: red
}

header {
    align-items: center !important;
}


p.copyright {
    color: #19865C;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

img#my-photo {
    width: 100px;
    height: 100px;

    border-radius: 50%
}

footer {
    background: #19865C;
    width: 100vw;
    display: flex;
    justify-content: center;
}